docs/** linguist-documentation
vignettes/** linguist-documentation
man/** linguist-documentation
inst/examples** linguist-vendored
inst/tinytest** linguist-vendored
R/aaa00_broadcast_help.R -linguist-documentation
/Macros
/Skeletons
R/reexports.R -linguist-documentation
R/meta_functions.R -linguist-documentation
R/zzz.R -linguist-vendored
R/RcppExports.R -linguist-vendored
R/broadcastWrappers.R -linguist-vendored
