website/** linguist-documentation
preprocess/** linguist-documentation
vignettes/** linguist-documentation
skeletons/** linguist-vendored
man/** linguist-documentation
inst/examples** linguist-vendored
inst/tinytest** linguist-vendored
R/aaa00_broadcast_help.R -linguist-documentation
R/aaa01_broadcast_bind.R -linguist-documentation
R/reexports.R -linguist-documentation
R/meta_functions.R -linguist-documentation
R/zzz.R -linguist-vendored
R/RcppExports.R -linguist-vendored
R/broadcastWrappers.R -linguist-vendored
make_qmd.R -linguist-vendored
siteutils.R -linguist-vendored

