website/** linguist-documentation
docs/** linguist-documentation
preprocess/** linguist-documentation
vignettes/** linguist-documentation
skeletons/** linguist-vendored
special_tests/** linguist-vendored
man/** linguist-documentation
tests/** linguist-vendored
inst/examples/** linguist-documentation
inst/tinytest/** linguist-vendored
R/aaa*.R -linguist-documentation
R/reexports.R -linguist-vendored
R/meta_functions.R -linguist-documentation
R/zzz.R -linguist-documentation
R/RcppExports.R -linguist-vendored
R/broadcastWrappers.R -linguist-vendored
make_qmd.R -linguist-documentation
broadcast.Rproj -linguist-documentation
README.qmd -linguist-documentation
intro_template.qmd -linguist-documentation
siteutils.R -linguist-documentation

