/*-- scss:defaults --*/
$body-bg: #FFFAF0; // floral white


$code-color: #b11226; // wine red
$navbar-hl: #008000; // green
$sidebar-hl: #008000; // green
$toc-hl: #008000; // green

.navbar-nav {
  text-decoration: underline;
}

.navbar-nav .active {
  text-decoration: underline;
  text-decoration-color: #008000; // green
}
