/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Xanh+Mono:ital@0;1&display=swap'); // Import Latex and Typewriter fonts


$body-bg: #FFFBF2; // light floral white :-)

$code-color: #b11226; // wine red
$navbar-hl: #008000; // green
$sidebar-hl: #008000; // green
$toc-hl: #008000; // green

.navbar-nav .active {
  text-decoration: underline;
  text-decoration-color: #008000; // green
}

.sidebar-link.active {
  text-decoration: underline;
}

/*-- scss:rules --*/
.title {
  font-family: "Old Standard TT", monospace; // The Latex Math Font :-)
  font-style: italic;
}


